.cart__wrap {
  display: flex; }

.cart__left {
  flex: 1;
  border-top: 1px solid rgba(31, 31, 31, 0.2);
  margin-right: 54px; }

.cart__right {
  flex: 0 0 384px; }

.cart__form {
  background: #FFFFFF;
  border: 1px solid rgba(31, 31, 31, 0.2);
  padding: 22px 31px; }

.cart__form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  color: rgba(31, 31, 31, 0.6);
  margin-bottom: 23px; }

.cart__form__top-price {
  display: flex;
  align-items: center; }

.cart__form__top-price1 {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: rgba(31, 31, 31, 0.6); }

.cart__form__top-price2 {
  font-size: 20px;
  line-height: 25px;
  color: rgba(31, 31, 31, 0.6);
  margin-left: 10px; }

.radio {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 1px;
  padding-top: 1px;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.02em;
  color: rgba(31, 31, 31, 0.6);
  font-size: 12px;
  line-height: 18px;
  transition: 0.3s all; }
  .radio input {
    display: none; }
  .radio input + span {
    width: 12px;
    min-width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid rgba(31, 31, 31, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat; }
  .radio input:checked + span {
    background-image: url(../img/cart/elips.svg); }

.radio:hover {
  color: #1f1f1f; }

.cart__form__checkbox {
  margin-bottom: 3px; }

.cart__form__bot {
  padding-top: 15px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgba(31, 31, 31, 0.2); }

.cart__form__bot__left {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  color: #1F1F1F;
  margin-top: 10px; }

.cart__form__bot__right {
  font-size: 25px;
  line-height: 31px;
  color: #1F1F1F;
  text-align: right; }
  .cart__form__bot__right span {
    font-size: 12px;
    line-height: 19px;
    color: rgba(31, 31, 31, 0.6);
    display: block;
    text-align: right; }

.cart__form__btn {
  width: 100%;
  padding: 0;
  height: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em; }

.cart__item {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(31, 31, 31, 0.2); }

.cart__item__img {
  min-width: 130px;
  width: 130px;
  height: 125px;
  background-size: contain;
  margin-left: 27px;
  margin-right: 70px;
  display: block;
  transition: 0.5s all; }

.cart__item__img:hover {
  transform: scale(1.05); }

.cart__item__mid {
  flex: 0 0 261px; }

.cart__item__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #1F1F1F;
  margin-bottom: 11px;
  display: block;
  transition: 0.3s all; }

.cart__item__name:hover {
  opacity: 0.8; }

.cart__item__des {
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 31, 31, 0.6);
  margin-bottom: 19px; }

.cart__item__props {
  display: flex; }

.cart__item__prop {
  margin-right: 32px; }
  .cart__item__prop > span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: rgba(31, 31, 31, 0.6);
    display: block;
    margin-bottom: 4px; }
  .cart__item__prop .count-block {
    width: 85px; }
  .cart__item__prop .count-block input {
    transition: 0.3s all; }
  .cart__item__prop .count-block:hover input {
    border-color: #999; }

.cart__item__price {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 20px; }

.cart__item__custom-price {
  margin-left: 15px;
  font-size: 25px;
  line-height: 31px;
  color: #1F1F1F; }

.cart__item__old-price {
  font-size: 16px;
  line-height: 31px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: rgba(31, 31, 31, 0.6); }

.cart__item__delete {
  padding: 2px;
  cursor: pointer;
  transition: 0.3s all; }

.cart__item__wrap {
  display: flex;
  align-items: center;
  flex: 1; }

@media (max-width: 1200px) {
  .cart__item__img {
    margin-left: 15px;
    margin-right: 20px; }
  .cart__right {
    flex: 0 0 335px; }
  .cart__item__price {
    padding-right: 0;
    padding-left: 10px; } }

@media (max-width: 991px) {
  .cart__item__img {
    width: 61px;
    min-width: 61px;
    height: 58px;
    margin-left: 0; }
  .cart__left {
    margin-right: 15px; }
  .cart__item__wrap {
    flex-direction: column;
    align-items: flex-start; }
  .cart__item__mid {
    flex: auto;
    width: 100%;
    max-width: 300px; }
  .cart__right {
    flex: 0 0 300px; }
  .cart__item__price {
    padding-left: 0;
    margin-top: 20px; }
  .cart__item {
    align-items: flex-start;
    position: relative;
    padding-right: 35px; }
  .cart__item__delete {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); } }

@media (max-width: 767px) {
  .cart__wrap {
    flex-direction: column; }
  .cart__right {
    flex: auto;
    margin-top: 75px; }
  .cart__form {
    border: 0;
    border-top: 1px solid rgba(31, 31, 31, 0.2);
    padding: 0;
    padding-top: 15px; }
  .cart__form__btn {
    margin: 0 auto;
    width: 268px;
    display: block; }
  .cart__left {
    margin-right: 0; }
  .cart__form__bot__right {
    text-align: center;
    font-size: 20px;
    line-height: 25px; }
    .cart__form__bot__right span {
      text-align: center;
      font-size: 10px;
      line-height: 19px; } }

@media (max-width: 374px) {
  .cart__item__img {
    margin-right: 15px; }
  .cart__item__name {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 7px; }
  .cart__item__des {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px; }
  .cart__item__mid {
    max-width: 150px; }
  .cart__item__prop {
    margin-right: 16px; }
    .cart__item__prop > span {
      font-size: 10px; }
    .cart__item__prop .nice-select {
      min-width: 65px; }
    .cart__item__prop .count-block {
      width: 65px; }
  .cart__item__price {
    flex-direction: row-reverse;
    margin-top: 5px; }
    .cart__item__price .cart__item__custom-price {
      margin-left: 0;
      margin-right: 15px;
      font-size: 16px;
      line-height: 20px; }
    .cart__item__price .cart__item__old-price {
      font-size: 14px;
      line-height: 20px; }
  .cart__item {
    padding-top: 15px;
    padding-bottom: 15px; }
  .cart__form__top {
    font-size: 12px;
    line-height: 19px; }
  .radio {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 7px; }
  .cart__form__top-price2 {
    font-size: 16px;
    line-height: 20px; }
  .cart__form__top-price1 {
    font-size: 12px;
    line-height: 15px; }
  .cart__form__bot__left {
    margin-top: 5px; } }

.cart-empty {
  width: 202px;
  margin: 0 auto;
  text-align: center; }
  .cart-empty svg {
    display: block;
    margin: 0 auto;
    margin-bottom: 28px; }
  .cart-empty span {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 32px; }
  .cart-empty a {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    height: 28px;
    font-weight: bold; }

/*# sourceMappingURL=korzina.css.map */
